[
 [{:domain/id "it"
   :domain/title "Information Technology"
   :domain/description "Information Technology"
   :domain/default-locale :en}]


 ;;  :specializations
 [{:specialization/id "basic"
   :specialization/title "Basic"
   :specialization/annotation "Basic specialization"}

  {:specialization/id "developer"
   :specialization/title "Developer"
   :specialization/annotation "Developer"}

  {:specialization/id "java_developer"
   :specialization/title "Java Developer"
   :specialization/annotation "Java Developer"}

  {:specialization/id "dot_net_developer"
   :specialization/title ".Net Developer"
   :specialization/annotation ".Net Developer"}

  {:specialization/id "architect"
   :specialization/title "Enterprise Software Architect"
   :specialization/annotation "Enterprise Software Architect"}

  {:specialization/id "software_engineer"
   :specialization/title "Software Engineer"
   :specialization/annotation "Software Engineer"}

  {:specialization/id "clojure_engineer"
   :specialization/title "Clojure Engineer"
   :specialization/annotation "Clojure Engineer"}

  {:specialization/id "erlang_engineer"
   :specialization/title "Erlang Engineer"
   :specialization/annotation "Erlang Engineer"}

  {:specialization/id "frontend_engineer"
   :specialization/title "Frontend Engineer"
   :specialization/annotation "Frontend Engineer"}

  {:specialization/id "testing_engineer"
   :specialization/title "Testing Engineer"
   :specialization/annotation "Testing Engineer"}

  {:specialization/id "operations_engineer"
   :specialization/title "Operations Engineer"
   :specialization/annotation "Operations Engineer"}

  {:specialization/id "ux_engineer"
   :specialization/title "UX Engineer"
   :specialization/annotation "User eXperience Engineer"}]

 ;; :specializations.relationships
 [{:specialization.relationship/from [:specialization/id "developer"]
   :specialization.relationship/to [:specialization/id "basic"]
   :specialization.relationship/description "developer->basic"}

  {:specialization.relationship/from [:specialization/id "java_developer"]
   :specialization.relationship/to [:specialization/id "developer"]
   :specialization.relationship/description "java_developer->developer"}

  {:specialization.relationship/from [:specialization/id "dot_net_developer"]
   :specialization.relationship/to [:specialization/id "developer"]
   :specialization.relationship/description "dot_net_developer->developer"}

  {:specialization.relationship/from [:specialization/id "architect"]
   :specialization.relationship/to [:specialization/id "developer"]
   :specialization.relationship/description "architect->developer"}

  {:specialization.relationship/from [:specialization/id "software_engineer"]
   :specialization.relationship/to [:specialization/id "developer"]
   :specialization.relationship/description "software_engineer->developer"}

  {:specialization.relationship/from [:specialization/id "clojure_engineer"]
   :specialization.relationship/to [:specialization/id "software_engineer"]
   :specialization.relationship/description "clojure_engineer->software_engineer"}

  {:specialization.relationship/from [:specialization/id "erlang_engineer"]
   :specialization.relationship/to [:specialization/id "software_engineer"]
   :specialization.relationship/description "erlang_engineer->software_engineer"}

  {:specialization.relationship/from [:specialization/id "frontend_engineer"]
   :specialization.relationship/to [:specialization/id "developer"]
   :specialization.relationship/description "frontend_engineer->developer"}

  {:specialization.relationship/from [:specialization/id "testing_engineer"]
   :specialization.relationship/to [:specialization/id "basic"]
   :specialization.relationship/description "testing_engineer->basic"}

  {:specialization.relationship/from [:specialization/id "operations_engineer"]
   :specialization.relationship/to [:specialization/id "basic"]
   :specialization.relationship/description "operations_engineer->basic"}

  {:specialization.relationship/from [:specialization/id "ux_engineer"]
   :specialization.relationship/to [:specialization/id "basic"]
   :specialization.relationship/description "ux_engineer->basic"}]

;;  :users
 [{:user/name "user1"
   :user/start-career-year 2014
   :user/locale :en
   :user/goal [:specialization/id "basic"]}
  {:user/name "user2"
   :user/start-career-year 2013
   :user/locale :ru
   :user/goal [:specialization/id "basic"]}]

;; Authors
 [{:author/id "dave_thomas"
   :author/name "Dave Thomas"}
  {:author/id "andy_hunt"
   :author/name "Andy Hunt"}
  {:author/id "martin_fowler"
   :author/name "Martin Fowler"}
  {:author/id "kent_beck"
   :author/name "Kent Beck"}
  {:author/id "eric_evans"
   :author/name "Eric Evans"}
  {:author/id "bob_martin"
   :author/name "Bob Martin"}
  {:author/id "eric_freeman"
   :author/name "Eric Freeman"}
  {:author/id "bert_bates"
   :author/name "Bert Bates"}
  {:author/id "kathy_sierra"
   :author/name "Kathy Sierra"}
  {:author/id "elisabeth_robson"
   :author/name "Elisabeth Robson"}
  {:author/id "harold_abelson"
   :author/name "Harold Abelson"}
  {:author/id "gerald_jay_sussman"
   :author/name "Gerald Jay Sussman"}
  {:author/id "julie_sussman"
   :author/name "Julie Sussman"}
  {:author/id "mary_poppendieck"
   :author/name "Mary Poppendieck"}
  {:author/id "tom_poppendieck"
   :author/name "Tom Poppendieck"}
  {:author/id "gerard_meszaros"
   :author/name "Gerard Meszaros"}
  {:author/id "joshua_kerievsky"
   :author/name "Joshua Kerievsky"}
  {:author/id "michael_feathers"
   :author/name "Michael Feathers"}
  {:author/id "stuart_halloway"
   :author/name "Stuart Halloway"}
  {:author/id "aaron_bedra"
   :author/name "Aaron Bedra"}
  {:author/id "paul_butcher"
   :author/name "Paul Butcher"}
  {:author/id "fred_brooks"
   :author/name "Frederick P. Brooks Jr."}
  {:author/id "tom_demarco"
   :author/name "Tom DeMarco"}
  {:author/id "timothy_lister"
   :author/name "Timothy Lister"}
  {:author/id "alan_cooper"
   :author/name "Alan Cooper"}
  {:author/id "robert_riemann"
   :author/name "Robert Riemann"}
  {:author/id "david_cronin"
   :author/name "David Cronin"}
  {:author/id "christopher_noessel"
   :author/name "Christopher Noessel"}
  ]

 [{:media/id "pragmatic_programmer"
   :media/type :media.type/book
   :media/title "Pragmatic Programmer"
   :media/subtitle "From Journeyman to Master"
   :media/essential true
   :media/experience 0
   :media/year 1999
   :media/isbn "ISBN-13: 978-0201616224 ISBN-10: 020161622X"
   :media/author [[:author/id "dave_thomas"] [:author/id "andy_hunt"]]}
  {:media/id "refactoring"
   :media/type :media.type/book
   :media/title "Refactoring"
   :media/subtitle "Improving the Design of Existing Code"
   :media/essential true
   :media/experience 0
   :media/year 1999
   :media/isbn "ISBN-13: 978-0201485677 ISBN-10: 0201485672"
   :media/author [[:author/id "martin_fowler"] [:author/id "kent_beck"]]}
  {:media/id "clean_code"
   :media/type :media.type/book
   :media/title "Clean Code"
   :media/subtitle "A Handbook of Agile Software Craftsmanship"
   :media/essential true
   :media/experience 0
   :media/year 2007
   :media/isbn "ISBN-13: 000-0132350882 ISBN-10: 0132350882"
   :media/author [[:author/id "bob_martin"]]}
  {:media/id "domain_driven_design"
   :media/type :media.type/book
   :media/title "Domain-Driven Design"
   :media/subtitle "Tackling Complexity in the Heart of Software"
   :media/essential true
   :media/experience 0
   :media/year 2003
   :media/isbn "ISBN-13: 978-0321125217 ISBN-10: 0321125215"
   :media/author [[:author/id "eric_evans"]]}
  {:media/id "head_first_design_patterns"
   :media/type :media.type/book
   :media/title "Head First: Design Patterns"
   :media/essential true
   :media/experience 0
   :media/year 2004
   :media/isbn "Print ISBN: 978-0-596-00712-6 | ISBN 10:0-596-00712-4 Ebook ISBN: 978-0-596-55656-3 | ISBN 10:0-596-55656-X"
   :media/author [[:author/id "eric_freeman"] [:author/id "bert_bates"] [:author/id "kathy_sierra"] [:author/id "elisabeth_robson"]]}
  {:media/id "sicp"
   :media/type :media.type/book
   :media/title "Structure And Interpretation Of Computer Programs"
   :media/essential true
   :media/experience 0
   :media/year 1996
   :media/isbn "ISBN-13: 978-0262510875"
   :media/author [[:author/id "harold_abelson"] [:author/id "gerald_jay_sussman"] [:author/id "julie_sussman"]]}
  {:media/id "ilsd"
   :media/type :media.type/book
   :media/title "Implementing Lean Software Development"
   :media/subtitle "From Concept to Cash"
   :media/essential true
   :media/experience 0
   :media/year 2006
   :media/isbn "ISBN-13: 978-0321437389 ISBN-10: 0321437381 Edition: 1st"
   :media/author [[:author/id "mary_poppendieck"] [:author/id "tom_poppendieck"]]}
  {:media/id "ilsd_ru"
   :media/type :media.type/book
   :media/title "Бережливое производство программного обеспечения"
   :media/subtitle "От идеи до прибыли"
   :media/essential true
   :media/experience 0
   :media/year 2010
   :media/isbn "ISBN 978-5-8459-1538-2, 0-321-43738-1; 2010 г."
   :media/author [[:author/id "mary_poppendieck"] [:author/id "tom_poppendieck"]]}
  {:media/id "mymamo"
   :media/type :media.type/book
   :media/title "The Mythical Man-Month"
   :media/subtitle "Essays on Software Engineering"
   :media/essential true
   :media/experience 0
   :media/year 1975
   :media/isbn "ISBN-13: 858-0001065793 ISBN-10: 0201835959"
   :media/author [[:author/id "fred_brooks"]]}
  {:media/id "peopleware"
   :media/type :media.type/book
   :media/title "Peopleware"
   :media/subtitle "Productive Projects and Teams"
   :media/essential true
   :media/experience 0
   :media/year 1987
   :media/isbn "ISBN-13: 978-0321934116 ISBN-10: 0321934113"
   :media/author [[:author/id "tom_demarco"][:author/id "timothy_lister"]]}
  {:media/id "xunit"
   :media/type :media.type/book
   :media/title "xUnit Test Patterns"
   :media/subtitle "Refactoring Test Code"
   :media/essential true
   :media/experience 1
   :media/year 2007
   :media/isbn "ISBN 978-5-8459-1448-4, 978-0-13-149505-0;"
   :media/author [[:author/id "gerard_meszaros"]]}
  {:media/id "rftg2ptns"
   :media/type :media.type/book
   :media/title "Refactoring To Patterns"
   :media/essential true
   :media/experience 2004
   :media/isbn "ISBN: 0321213351 ISBN13: 0785342213355;"
   :media/author [[:author/id "gerard_meszaros"]]}
  {:media/id "weflc"
   :media/type :media.type/book
   :media/title "Working Effectively with legacy code"
   :media/essential true
   :media/experience 1
   :media/year 2004
   :media/isbn "ISBN-13: 007-6092025986 ISBN-10: 0131177052"
   :media/author [[:author/id "michael_feathers"]]}
  {:media/id "pofeaa"
   :media/type :media.type/book
   :media/title "Patterns of Enterprise Application Architecture"
   :media/essential true
   :media/experience 1
   :media/year 2002
   :media/isbn "ISBN-13: 978-0321127426 ISBN-10: 0321127420"
   :media/author [[:author/id "martin_fowler"]]}
  {:media/id "prclj"
   :media/type :media.type/book
   :media/title "Programming Clojure (2nd edition)"
   :media/essential true
   :media/experience 2
   :media/isbn "ISBN: 978-1-93435-686-9"
   :media/year 2012
   :media/author [[:author/id "stuart_halloway"][:author/id "aaron_bedra"]]}
  {:media/id "7cm7w"
   :media/type :media.type/book
   :media/title "Seven Concurrency Models in Seven Weeks:"
   :media/subtitle "When Threads Unravel"
   :media/essential false
   :media/experience 2
   :media/isbn "ISBN: 978-1-93435-686-9"
   :media/year 2014
   :media/author [[:author/id "paul_butcher"]]}
  {:media/id "about_face"
   :media/type :media.type/book
   :media/title "About Face:"
   :media/subtitle "The Essentials of Interaction Design"
   :media/essential true
   :media/experience 1
   :media/isbn "ISBN-13: 978-1118766576 ISBN-10: 1118766571"
   :media/year 2014
   :media/author [[:author/id "alan_cooper"]
                  [:author/id "robert_riemann"]
                  [:author/id "david_cronin"]
                  [:author/id "christopher_noessel"]]}
]
;; Media-relationships
 [  {:media.relationship/from [:media/id "ilsd_ru"]
     :media.relationship/to [:media/id "ilsd"]
     :media.relationship/type :translation
     :media.relationship/description "Перевод на русский язык"}
    {:media.relationship/from [:media/id "prclj"]
     :media.relationship/to [:media/id "domain_driven_design"]
     :media.relationship/type :background
     :media.relationship/description "Programming Clojure requires Domain Driven Design to be understandable"}
    ]
;; Recommendations
 [{:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "pragmatic_programmer"]
   :recommendation/id "basic_pragmatic_programmer"
   :recommendation/priority 1000
   :recommendation/necessary true
   :recommendation/description "Pragmatic Programmer is must for every IT specialist, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "refactoring"]
   :recommendation/id "basic_refactoring"
   :recommendation/priority 900
   :recommendation/necessary true
   :recommendation/description "Refacotring is must for every IT specialist, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "head_first_design_patterns"]
   :recommendation/id "basic_head_first_design_patterns"
   :recommendation/priority 800
   :recommendation/necessary true
   :recommendation/description "Head First Design Patterns is must for every IT specialist, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "domain_driven_design"]
   :recommendation/id "basic_domain_driven_design"
   :recommendation/priority 800
   :recommendation/necessary true
   :recommendation/description "Domain Driven Design is must for every IT specialist, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "clean_code"]
   :recommendation/id "basic_clean_code"
   :recommendation/priority 700
   :recommendation/necessary true
   :recommendation/description "Clean Code is must for every IT specialist, because... //TBD @alexpetrov"}


  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "ilsd"]
   :recommendation/id "basic_ilsd"
   :recommendation/priority 500
   :recommendation/necessary false
   :recommendation/description "Implementing Lean Software Develpment is optional recommendation for basic specialization, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "sicp"]
   :recommendation/id "basic_sicp"
   :recommendation/priority 400
   :recommendation/necessary false
   :recommendation/description "SICP is optional recommendation for basic specialization, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "mymamo"]
   :recommendation/id "basic_mymamo"
   :recommendation/priority 300
   :recommendation/necessary false
   :recommendation/description "The Mythical Man-Month is optional recommendation for basic specialization, because... //TBD @alexpetrov"}

  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "peopleware"]
   :recommendation/id "basic_peopleware"
   :recommendation/priority 200
   :recommendation/necessary false
   :recommendation/description "Peopleware is optional recommendation for basic specialization, because... //TBD @alexpetrov"}

  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "about_face"]
   :recommendation/id "basic_about_face"
   :recommendation/priority 100
   :recommendation/necessary false
   :recommendation/description "About Face is optional recommendation for basic specialization, because... //TBD @alexpetrov"}

;; Recommendations for Developer specialization
  {:recommendation/specialization [:specialization/id "developer"]
   :recommendation/media [:media/id "rftg2ptns"]
   :recommendation/id "deveoper_rftg2ptns"
   :recommendation/priority 1000
   :recommendation/necessary true
   :recommendation/description "Refactoring to Patterns is must recommendation for developer specialization, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "developer"]
   :recommendation/media [:media/id "xunit"]
   :recommendation/id "developer_xunit"
   :recommendation/priority 900
   :recommendation/necessary true
   :recommendation/description "XUnit is must recommendation for developer specialization, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "developer"]
   :recommendation/media [:media/id "weflc"]
   :recommendation/id "developer_weflc"
   :recommendation/priority 800
   :recommendation/necessary false
   :recommendation/description "Working Effectively with legacy code is optional recommendation for developer specialization, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "developer"]
   :recommendation/media [:media/id "pofeaa"]
   :recommendation/id "developer_pofeaa"
   :recommendation/priority 700
   :recommendation/necessary false
   :recommendation/description "Patterns of Enterprise Application Architecture is optional recommendation for developer specialization, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "developer"]
   :recommendation/media [:media/id "prclj"]
   :recommendation/id "developer_prclj"
   :recommendation/priority 600
   :recommendation/necessary false
   :recommendation/description "Programming Clojure is optional recommendation for developer specialization, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "software_engineer"]
   :recommendation/media [:media/id "7cm7w"]
   :recommendation/id "software_engineer_7cm7w"
   :recommendation/priority 1000
   :recommendation/necessary true
   :recommendation/description "Seven Concurrency Models in Seven Weeks is must recommendation for software engineer specialization, because... //TBD @alexpetrov"}

;; Recommendations for UX Engineer
  {:recommendation/specialization [:specialization/id "ux_engineer"]
   :recommendation/media [:media/id "about_face"]
   :recommendation/id "ux_engineer_about_face"
   :recommendation/priority 1000
   :recommendation/necessary true
   :recommendation/description "About Face is required recommendation for UX Engineer specialization, because... //TBD @alexpetrov"}
]
]
