[
 [{:domain/id "it"
   :domain/title "Information Technology"
   :domain/description "Information Technology"
   :domain/default-locale :en}]


 ;;  :specializations
 [{:specialization/id "basic"
   :specialization/title "Basic"
   :specialization/annotation "Basic specialization"}

  {:specialization/id "developer"
   :specialization/title "Developer"
   :specialization/annotation "Developer"}]

 ;; :specializations.relationships
 [{:specialization.relationship/from [:specialization/id "developer"]
   :specialization.relationship/to [:specialization/id "basic"]
   :specialization.relationship/description "developer->basic"}]

;;  :users
 [{:user/name "user1"
   :user/start-career-year 2014
   :user/locale :en
   :user/goal [:specialization/id "basic"]}
  {:user/name "user2"
   :user/start-career-year 2013
   :user/locale :ru
   :user/goal [:specialization/id "basic"]}]

;; Authors
 [{:author/id "dave_thomas"
   :author/name "Dave Thomas"}
  {:author/id "andy_hunt"
   :author/name "Andy Hunt"}
  {:author/id "martin_fowler"
   :author/name "Martin Fowler"}
  {:author/id "kent_beck"
   :author/name "Kent Beck"}
  {:author/id "eric_evans"
   :author/name "Eric Evans"}
  {:author/id "bob_martin"
   :author/name "Bob Martin"}
  {:author/id "eric_freeman"
   :author/name "Eric Freeman"}
  {:author/id "bert_bates"
   :author/name "Bert Bates"}
  {:author/id "kathy_sierra"
   :author/name "Kathy Sierra"}
  {:author/id "elisabeth_robson"
   :author/name "Elisabeth Robson"}
  {:author/id "harold_abelson"
   :author/name "Harold Abelson"}
  {:author/id "gerald_jay_sussman"
   :author/name "Gerald Jay Sussman"}
  {:author/id "julie_sussman"
   :author/name "Julie Sussman"}
  {:author/id "mary_poppendieck"
   :author/name "Mary Poppendieck"}
  {:author/id "tom_poppendieck"
   :author/name "Tom Poppendieck"}
  {:author/id "gerard_meszaros"
   :author/name "Gerard Meszaros"}
  {:author/id "joshua_kerievsky"
   :author/name "Joshua Kerievsky"}
]

 [{:media/id "pragmatic_programmer"
   :media/type :media.type/book
   :media/title "Pragmatic Programmer"
   :media/subtitle "From Journeyman to Master"
   :media/essential true
   :media/experience 0
   :media/isbn "ISBN-13: 978-0201616224 ISBN-10: 020161622X"
   :media/author [[:author/id "dave_thomas"] [:author/id "andy_hunt"]]}
  {:media/id "refactoring"
   :media/type :media.type/book
   :media/title "Refactoring"
   :media/subtitle "Improving the Design of Existing Code"
   :media/essential true
   :media/experience 0
   :media/isbn "ISBN-13: 978-0201485677 ISBN-10: 0201485672"
   :media/author [[:author/id "martin_fowler"] [:author/id "kent_beck"]]}
  {:media/id "clean_code"
   :media/type :media.type/book
   :media/title "Clean Code"
   :media/subtitle "A Handbook of Agile Software Craftsmanship"
   :media/essential true
   :media/experience 0
   :media/isbn "ISBN-13: 000-0132350882 ISBN-10: 0132350882"
   :media/author [[:author/id "bob_martin"]]}
  {:media/id "domain_driven_design"
   :media/type :media.type/book
   :media/title "Domain-Driven Design"
   :media/subtitle "Tackling Complexity in the Heart of Software"
   :media/essential true
   :media/experience 0
   :media/isbn "ISBN-13: 978-0321125217 ISBN-10: 0321125215"
   :media/author [[:author/id "eric_evans"]]}
  {:media/id "head_first_design_patterns"
   :media/type :media.type/book
   :media/title "Head First: Design Patterns"
   :media/essential true
   :media/experience 0
   :media/isbn "Print ISBN: 978-0-596-00712-6 | ISBN 10:0-596-00712-4 Ebook ISBN: 978-0-596-55656-3 | ISBN 10:0-596-55656-X"
   :media/author [[:author/id "eric_freeman"] [:author/id "bert_bates"] [:author/id "kathy_sierra"] [:author/id "elisabeth_robson"]]}
  {:media/id "sicp"
   :media/type :media.type/book
   :media/title "Structure And Interpretation Of Computer Programs"
   :media/essential true
   :media/experience 0
   :media/isbn "ISBN-13: 978-0262510875"
   :media/author [[:author/id "harold_abelson"] [:author/id "gerald_jay_sussman"] [:author/id "julie_sussman"]]}
  {:media/id "ilsd"
   :media/type :media.type/book
   :media/title "Implementing Lean Software Development"
   :media/subtitle "From Concept to Cash"
   :media/essential true
   :media/experience 0
   :media/isbn "ISBN-13: 978-0321437389 ISBN-10: 0321437381 Edition: 1st"
   :media/author [[:author/id "mary_poppendieck"] [:author/id "tom_poppendieck"]]}
  {:media/id "ilsd_ru"
   :media/type :media.type/book
   :media/title "Бережливое производство программного обеспечения"
   :media/subtitle "От идеи до прибыли"
   :media/essential true
   :media/experience 0
   :media/isbn "ISBN 978-5-8459-1538-2, 0-321-43738-1; 2010 г."
   :media/author [[:author/id "mary_poppendieck"] [:author/id "tom_poppendieck"]]}
  {:media/id "xunit"
   :media/type :media.type/book
   :media/title "xUnit Test Patterns"
   :media/subtitle "Refactoring Test Code"
   :media/essential true
   :media/experience 1
   :media/isbn "ISBN 978-5-8459-1448-4, 978-0-13-149505-0;"
   :media/author [[:author/id "gerard_meszaros"]]}
  {:media/id "rftg2ptns"
   :media/type :media.type/book
   :media/title "Refactoring To Patterns"
   :media/essential true
   :media/experience 1
   :media/isbn "ISBN: 0321213351 ISBN13: 0785342213355;"
   :media/author [[:author/id "gerard_meszaros"]]}
]
;; Media-relationships
 [  {:media.relationship/from [:media/id "ilsd_ru"]
     :media.relationship/to [:media/id "ilsd"]
     :media.relationship/type :translation
     :media.relationship/description "Перевод на русский язык"}
    ]
;; Recommendations
 [{:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "pragmatic_programmer"]
   :recommendation/id "basic_pragmatic_programmer"
   :recommendation/priority 1000
   :recommendation/necessary true
   :recommendation/description "Pragmatic Programmer is must for every IT specialist, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "refactoring"]
   :recommendation/id "basic_refactoring"
   :recommendation/priority 900
   :recommendation/necessary true
   :recommendation/description "Refacotring is must for every IT specialist, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "head_first_design_patterns"]
   :recommendation/id "basic_head_first_design_patterns"
   :recommendation/priority 800
   :recommendation/necessary true
   :recommendation/description "Head First Design Patterns is must for every IT specialist, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "domain_driven_design"]
   :recommendation/id "basic_domain_driven_design"
   :recommendation/priority 800
   :recommendation/necessary true
   :recommendation/description "Domain Driven Design is must for every IT specialist, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "clean_code"]
   :recommendation/id "basic_clean_code"
   :recommendation/priority 700
   :recommendation/necessary true
   :recommendation/description "Clean Code is must for every IT specialist, because... //TBD @alexpetrov"}


  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "ilsd"]
   :recommendation/id "basic_ilsd"
   :recommendation/priority 500
   :recommendation/necessary false
   :recommendation/description "Implementing Lean Software Develpment is optional recommendation for basic specialization, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "basic"]
   :recommendation/media [:media/id "sicp"]
   :recommendation/id "basic_sicp"
   :recommendation/priority 400
   :recommendation/necessary false
   :recommendation/description "SICP is optional recommendation for basic specialization, because... //TBD @alexpetrov"}

;; Recommendations for Developer specialization
  {:recommendation/specialization [:specialization/id "developer"]
   :recommendation/media [:media/id "rftg2ptns"]
   :recommendation/id "deveoper_rftg2ptns"
   :recommendation/priority 1000
   :recommendation/necessary true
   :recommendation/description "Refactoring to Patterns is must recommendation for developer specialization, because... //TBD @alexpetrov"}
  {:recommendation/specialization [:specialization/id "developer"]
   :recommendation/media [:media/id "xunit"]
   :recommendation/id "developer_xunit"
   :recommendation/priority 900
   :recommendation/necessary true
   :recommendation/description "XUnit is must recommendation for developer specialization, because... //TBD @alexpetrov"}
]
]
